<img class="answer-image" src="{{answer.image}}">
<h4 class="answer-text">{{answer.text}}</h4>
{{#if answer.description}}
  {{#bs-tooltip placement="bottom"}}
    {{answer.description}}
  {{/bs-tooltip}}
{{/if}}