{{#bs-dropdown as |dd|}}
  {{#dd.button class="dropdown-button"}}<img src="/assets/images/{{i18n.locale}}.png"> <span class="caret"></span>{{/dd.button}}
  {{#dd.menu as |menu|}}
    {{#each i18n.locales as |l|}}
      {{#menu.item}}
        <a class="dropdown-item {{if (eq get intl.locale l) "active"}}" onclick={{action 'setLocale' l}}>
          <img src="/assets/images/{{l}}.png">
        </a>
    {{/menu.item}}
    {{/each}}
  {{/dd.menu}}
{{/bs-dropdown}}