{{#question-link 'index'
  class="badge badge-primary"
  active=(eq currentRouteName 'index')
  isValid=true
}}
  {{fa-icon 'home' prefix="fas"}}
{{/question-link}}
<div class="divider flex-fill"></div>
{{#each questions as |question i|}}
  {{#question-link "question" question.id
    class="badge badge-primary"
    active=(eq question.id currentQuestionId)
    isValid=(if question.isValid true)
  }}
    {{fa-icon question.icon  prefix="fas"}}
  {{/question-link}}
  <div class="divider flex-fill"></div>
{{/each}}

{{#question-link 'send-estimate'
  class="badge badge-primary"
  active=(eq currentRouteName 'send-estimate')
  isValid=true
}}
  {{fa-icon 'envelope'  prefix="fas"}}
{{/question-link}}