<h3 class="question-title">
  {{question.title}}
  {{#bs-tooltip placement="bottom"}}
    {{question.description}}
  {{/bs-tooltip}}
</h3>

<div class="answers">
  {{#each question.answers as |a|}}
    {{answer-component answer=a click=(action "toggle" a)}}
  {{else}}
    No answer for this question
  {{/each}}
</div>

