// $theme-colors: (
//   "primary": #007bff,
//   "dark": #343a40,
//   "light": #f8f9fa,
//   "secondary": #6c757d,

//   "danger": #AA3939,
//   "success": #2D882D,
//   "info": #AA7C39,
// );

@import "ember-bootstrap/bootstrap";

@import "pod-styles";
@import "general";


// #1a252f
// #2c3e50
$color-primary-0: #2A4D6E;  // Main Primary color */
$color-primary-1: #728CA6;
$color-primary-2: #4A6B8A;
$color-primary-3: #133353;
$color-primary-4: #041E37;

$color-secondary-1-0: #AA3939;  // Main Secondary color (1) */
$color-secondary-1-1: #FFAAAA;
$color-secondary-1-2: #D46A6A;
$color-secondary-1-3: #801515;
$color-secondary-1-4: #550000;

$color-secondary-2-0: #2D882D;  // Main Secondary color (2) */
$color-secondary-2-1: #88CC88;
$color-secondary-2-2: #55AA55;
$color-secondary-2-3: #116611;
$color-secondary-2-4: #004400;

$color-complement-0: #AA7C39; // Main Complement color */
$color-complement-1: #FFDCAA;
$color-complement-2: #D4A96A;
$color-complement-3: #805415;
