&{
  cursor: pointer;
  position:relative;
  border-width: 1px;
  text-align: center;
  border-radius: 0;
  &:hover{
    background: #f8f9fa;
  }
  &.selected{
    background:theme-color(success);
  }
  .info{
    cursor: help;
    font-size: inherit;
    position: absolute;
    top: 2px;
    right: 2px;
  }
  svg.svg-inline--fa.answer-icon{
    font-size: 8rem;
    padding: 1rem;
    width: 100%;
  }
}
