&{
  cursor: pointer;
  position:relative;
  border-width: 1px;
  text-align: center;
  // border: none;
  border-radius: 0;
  &:hover{
    background: #f8f9fa;
  }
  &.selected{
    background:#28a745;
  }
  .info{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    cursor: help;
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
  }
  svg.svg-inline--fa{
    font-size: 5rem;
    padding: 1rem;
    width: 100%;
  }
}
