&{
  cursor: pointer;
  position:relative;
  border-width: 1px;
  text-align: center;
  border-radius: 0;
  padding:0.5rem;
  &:hover{
    background: #f8f9fa;
  }
  &.selected{
    background:theme-color(success);
  }
  .price{
    height: 2rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .info{
    cursor: help;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 2rem;
    svg.svg-inline--fa{
      height: 1rem;
    }
  }
  svg.svg-inline--fa.answer-icon{
    font-size: 8rem;
    padding: 1rem;
    width: 100%;
  }
}
