&{
  .progress{
    height: 3rem;
    font-size: 1rem;
  }
  // padding: 1rem 0;
  .delivery-time{
    text-align: right;
    height: 2rem;
  }

  .notvisible{
    visibility: hidden;
  }
  .cell-price{
    text-align: right;
    width: 100px;
  }
  .cell-days{
    text-align: right;
    width: 60px;
  }
  .daily-rate{
    text-align: right;
    // font
  }
  .discount{
    text-align: right;
    margin-top: 1rem;
  }
}
