&{
  min-width: 300px;
  .progress{
    height: 3rem;
    font-size: 1rem;
  }
  // padding: 1rem 0;
  .delivery-time{
    text-align: right;
    height: 2rem;
  }

  .notvisible{
    visibility: hidden;
  }
}
