
&{
  text-align: center;
  position: relative;
  .badge {
    display: block;
    cursor: pointer;
    font-size: 1rem;
    padding: 1rem;
  }
  .divider{
    height: 0;
    border: 1px grey solid;
  }

}


@media (max-width: 768px) {
  &{
    .badge{
      font-size: 1rem;
      padding: 0.6rem;
    }
  }
}

@media (max-width: 576px) {
  &{
    .badge{
      font-size: 0.8rem;
      padding: 0.4rem;
    }
  }
}
