&{
  text-align: center;
  .badge {
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
  }
  .divider{
    margin: 0 50%;
    min-height: 15px;
    border: 1px grey solid;
  }
  .badge-icon{
    padding: 0.2em 0;
    margin:0;
  }
}
