<div class="jumbotron text-center">
  <h2 class="display-4">Bienvenue sur mon outil d'estimation !</h2>
  <p class="lead">Cet outil vous permet d'avoir un estimatif du coût et delais de réalisation d'une application web que je peux vous proposer.</p>
  <hr class="my-4">
  <p>Pour connaitre vôtre estimation, veuillez remplir le questionnaire.</p>
  {{#link-to "question" 1 class="btn btn-primary start-questions"}}Commencer le questionnaire{{/link-to}}
</div>