<div class="jumbotron text-center">
  <h2 class="display-4">Bienvenue sur mon outil d'estimation !</h2>
  <p class="lead">Cet outil permet de co</p>
  <hr class="my-4">
  <p>Pour connaitre l'estimation du coût et de la durée de réalisation pour votre application web, veuillez remplir le questionnaire.</p>
  {{#link-to "question" 1 class="btn btn-primary start-questions"}}Commencer le questionnaire{{/link-to}}
</div>